@import "tailwindcss";

/* Apply Geist font globally */
body {
  font-family: var(--font-geist-sans), system-ui, -apple-system, sans-serif;
}

code, pre, kbd, samp {
  font-family: var(--font-geist-mono), monospace;
}

/* Google Color Scheme */
:root {
  --foreground-rgb: 60, 64, 67; /* Google Grey 900 */
  --background-rgb: 255, 255, 255; /* White */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 232, 234, 237; /* Google Grey 100 */
    --background-rgb: 20, 20, 20; /* Google Grey 900 */
  }
}

html {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-rgb)) !important;
  margin: 0;
  padding: 0;
}